<script type="text/javascript">
_linkedin_partner_id = "419650";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script>
<script type="text/javascript">
(function() { var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script");
    b.type = "text/javascript";
    b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s); })();
</script>
<noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=419650&fmt=gif" /> </noscript>
<div class="copyright">
    <div class="row ">
        <!-- <div class="col-md-2 text-left">
        </div> -->
        <div class="col-md-4 text-center" id='blogQuestionsFooter'>
            <div id="blogCheck">
                <a href="http://blog.streamfluence.io/" style='color: #fff;'>Check Out Our Blog</a>
            </div>
            <div id="contactCheck">
                <a href="mailto:tross@streamfluencepartners.com" style='color: #fff;'>Questions? Contact Us!</a>
            </div>
        </div>
        <div class="col-md-4 text-center ">
            <p class="copyrighttext ">Copyright 2018 StreamFluence Inc.</p>
        </div>
        <div class="col-md-4 text-center" id='footerSocialIcons'>
            <a href="https://discord.gg/AQYQrJa" style='' target='_blank'><img src="assets/images/Discord-Logo-White.png" style='width: 120px; height: 120px; margin-bottom: 10px margin-right: 0px;'></a>
            <a href="https://www.facebook.com/streamfluence/?ref=br_rs" style='color: #fff;' target='_blank'><i class="fa fa-facebook-square" aria-hidden="true" id='socialIcons'></i></a>
            <a href="https://twitter.com/streamfluence?lang=en" style='color: #fff;' target='_blank'><i class="fa fa-twitter-square" aria-hidden="true" id='socialIcons'></i></a>
            <a href="https://www.instagram.com/streamfluence/" style='color: #fff;' target='_blank'><i class="fa fa-instagram" aria-hidden="true" id='socialIcons'></i></a>
        </div>
        <!-- <div class="col-md-2 text-left">
        </div> -->
    </div>
</div>