<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>StreamFluence</title>
    <!-- bootstap html and cc elemets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!--links my css page -->
    <link rel="stylesheet" type="text/css" href="./assets/css/index1.3.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/componentCSS/infinite-slider.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/brandsHome.css">
    <!--Allows me to use JQuery -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- Allows me to use Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/floo.png">
    <link rel="apple-touch-icon" href="assets/images/favicon-floo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Passion+One|Patua+One|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
    <!-- Start of Async Drift Code -->
    <script>
        "use strict";

        ! function () {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                    t.factory = function (e) {
                        return function () {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function (e) {
                        t[e] = t.factory(e);
                    }), t.load = function (t) {
                        var e = 3e5,
                            n = Math.ceil(new Date() / e) * e,
                            o = document.createElement("script");
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                        var i = document.getElementsByTagName("script")[0];
                        i.parentNode.insertBefore(o, i);
                    };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('s67437phywe2');
    </script>
    <!-- End of Async Drift Code -->
</head>

<body id="top">
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" id="navStarted">
            <%- include('layouts/navBrand'); %>
        </nav>
        <!-- BRAND LOGO with Triangle background-->
        <div id="brand-corner" class="hidden-xs">
            <div id="brand-background"></div>
            <a href="/">
                <img id="brand-logo" src="assets/images/streamfluence-logo.png">
            </a>
        </div>
        <!-- Content -->
        <section class="sec sec-top" id='homeBigScreen'>
            <img src="./assets/images/sfHomeImage.png" id='homeBigImage'>
            <img src="./assets/images/sfHomeImage2.png" id='homeBigImage2'>
            <div class="row homeContent">
                <video id='streamerImage1' border="5" controls loop muted autoplay>
                    <source src="./assets/video/onnitReviewDTQ.mp4" type="video/mp4"> Your browser does not support the video tag.
                </video>
                <div class="col-md-6 homeContentText">
                    <h1 id='homeTitle'>Welcome to the Next Generation of Marketing</h1>
                    <p id='titleParagraph'>
                        With StreamFluence you can easily find and activate livestreamers around the world, track reach and attribution in real time,
                        and receive beautiful pieces of content to use across other social media efforts.
                    </p>
                    <a class="btn btn-lg btn-round-lg" id='brandHomeButton' href="https://streamfluencepartners.com/register" target="_blank"
                        role="button">GET STARTED FOR FREE</a>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </section>
    </div>
    <section class="container-fluid sec" id='brand123Container'>
        <div class='row text-center' style='margin-top: 25px;'>
            <div class='col-md-6'>
                <img src="./assets/images/victory.png" id='twitchSectionImage'>
            </div>
            <div class='col-md-6'>
                <div class="row">
                    <div class='col-sm-2'>
                    </div>
                    <div class='col-sm-9 text-left brand123'>
                        <br>
                        <br>
                        <h3 id='brand123Title'>Broadcasting Your Brand Doesn’t Have to be Hard</h3>
                        <br>
                        <br>
                        <p style='' id='brand123PTitle'>Livestreamers now reach hundreds of millions of viewers every month, and unlike Facebook, Instagram
                            and Twitter, you don’t need to outbid your competition to let the world know about your new brand,
                            product, or service. </p>
                    </div>
                    <div class='col-sm-1'>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class='row text-center' id='brand123Row'>
            <div class="col-md-4 text-center">
                <div class="row backgroundBrand123 background123FirstSection">
                    <div class='col-sm-2 text-center brand123Trophy'>
                        <i class="fa fa-child" style="font-size:50px; color: #bc63ff;"></i>
                    </div>
                    <div class='col-sm-9 text-left brand123'>
                        <h3>Flexible budget</h3>
                        <br>
                        <p>We’ve worked with startups and fortune 500’s. No matter the budget, there’s streamers for every opportunity.
                        </p>
                    </div>
                    <div class='col-sm-1'>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="row backgroundBrand123">
                    <div class='col-sm-2 text-center brand123Trophy'>
                        <i class="fa fa-gavel" style="font-size:50px; color: #bc63ff;"></i>
                    </div>
                    <div class='col-sm-9 text-left brand123'>
                        <h3>Pick your streamers</h3>
                        <br>
                        <p>Review proposals, profiles and audience demographics prior to hiring. We give you the tools you need
                            in order to select the best streamers for your brand.</p>
                    </div>
                    <div class='col-sm-1'>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="row backgroundBrand123">
                    <div class='col-sm-2 text-center brand123Trophy'>
                        <i class="fa fa-line-chart" style="font-size:50px; color: #bc63ff;"></i>
                    </div>
                    <div class='col-sm-9 text-left brand123'>
                        <h3 class='text-left' style='padding-left: 5px;'>Grow your audience</h3>
                        <br>
                        <p>StreamFluence lets you add live stream content to your marketing assets, getting you views, impressions,
                            and interest.</p>
                    </div>
                    <div class='col-sm-1'>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class='jumbotron' id='trackRecordSection'>
        <h1 class='text-center' id='trackRecordTitle'>
            Track
            <a style='color: #6a95ff;'>Record</a>
        </h1>
        <div class='row' id='trackRecordAnalytics' style='padding-top: 40px;'>
            <div class='col-md-3 text-center trackRecordIndividualSections'>
                <figure class='text-center'>
                    <i class="fa fa-handshake-o" style="font-size:75px; color: #6a95ff;"></i>
                    <figcaption>
                        <strong style='font-size: 30px;'>50+</strong>
                        <br>Brands On Platform</figcaption>
                </figure>
            </div>
            <div class='col-md-3 text-center trackRecordIndividualSections'>
                <figure class='text-center'>
                    <i class="fa fa-users" style="font-size:75px; color: #6a95ff;"></i>
                    <figcaption>
                        <strong style='font-size: 30px;'>25M+</strong>
                        <br>Monthly Impressions</figcaption>
                </figure>
            </div>
            <div class='col-md-3 text-center trackRecordIndividualSections'>
                <figure class='text-center'>
                    <i class="fa fa-child" style="font-size:75px; color: #6a95ff;"></i>
                    <figcaption>
                        <strong style='font-size: 30px;'>600+</strong>
                        <br>Streamers In Our Network</figcaption>
                </figure>
            </div>
            <div class='col-md-3 text-center trackRecordIndividualSections'>
                <figure class='text-center'>
                    <i class="fa fa-area-chart" style="font-size:75px; color: #6a95ff;"></i>
                    <figcaption>
                        <strong style='font-size: 30px;'>300k+</strong>
                        <br>Monthly Engagements</figcaption>
                </figure>
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>
    <section id="brands" style='padding-bottom: 10px;'>
        <h2 class="text-center" style='margin-bottom: 50px; color: #bc63ff; margin-top:0px; padding-top: 15px;'>
            Brands we’ve worked with
        </h2>
        <div class="container">
            <section class="customer-logos slider">
                <div class="slide">
                    <img src="./assets/images/onnitLogo2.png" alt="" target="" style="max-width:80%; margin: 0 auto;">
                </div>
                <div class="slide">
                    <img src="./assets/images/overwolfLogo.png" alt="" target="" style="max-width:50%; margin: 0 auto;">
                </div>
                <div class="slide">
                    <img src="./assets/images/SW30.png" alt="" target="" style="max-width:110%; margin: 0 auto;">
                </div>
                <div class="slide">
                    <img src="./assets/images/prisonLogo.png" alt="" target="" style="max-width:100%; margin-top: 30px;">
                </div>
                <div class="slide">
                    <img src="./assets/images/manscape.png" alt="" target="" style="max-width:80%; margin: 10px auto 0 auto;">
                </div>
                <div class="slide">
                    <img src="./assets/images/streamLoots.png" alt="" style="max-width:100%; background-color: #000628; margin-top: 55px;">
                </div>
                <div class="slide">
                    <img src="./assets/images/glitchLogo.png" alt="" target="" style="max-width:50%; margin: 0 auto;">
                </div>
                <div class="slide">
                    <img src="./assets/images/legionLogo.png" alt="" target="" style="max-width:100%; margin-top: 55px;">
                </div>
            </section>
        </div>
    </section>
    <section class="sec-lightpurple" id='HowItWorksSection'>
        <img src="./assets/images/sfHomeImage.png" id='sfBrandSlant'>
        <div class="row">
            <div class="col-md-12">
                <h1 class='text-center' id='howItWorkTitle' style=''>Simple. Easy. Effective.</h1>
            </div>
        </div>
        <div class="row stepsRowsSection">
            <div class="col-md-3">
            </div>
            <div class="col-md-3" class='howItWorksLeft text-center'>
                <h2 class='howItWorksSteps1'>
                    <a style='color: yellow;'>Step 1: </a>
                </h2>
                <h2 class='howItWorksSteps2'>Sign Up</h2>
                <p class='howItWorksLeftP'>Discover what kind of advertisement works for your brand best with our campaign selection tool </p>
                <hr>
            </div>
            <div class="col-md-3 text-center">
                <i class="fa fa-sign-in" id='howItWorksIcons'></i>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row stepsRowsSection">
            <div class="col-md-3">
            </div>
            <div class="col-md-3" class='howItWorksLeft text-center'>
                <h2 class='howItWorksSteps1'>
                    <a style='color: yellow;'>Step 2:</a>
                </h2>
                <h2 class='howItWorksSteps2'>Receive Bids</h2>
                <p class='howItWorksLeftP'>Streamers will bid on your opportunity and you can select which ones work for your goals and budget. </p>
                <hr>
            </div>
            <div class="col-md-3 text-center">
                <i class="fa fa-cogs" id='howItWorksIcons'></i>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row stepsRowsSection">
            <div class="col-md-3">
            </div>
            <div class="col-md-3" class='howItWorksLeft text-center'>
                <h2 class='howItWorksSteps1'>
                    <a style='color: yellow;'>Step 3:</a>
                </h2>
                <h2 class='howItWorksSteps2'>Content for your Brand </h2>
                <p class='howItWorksLeftP'> With streamers selected and the campaign started, streamers will begin creating, sharing, and publishing
                    the content that you’ve asked for with their loyal audience.</p>
                <hr>
            </div>
            <div class="col-md-3 text-center">
                <i class="fa fa-users" id='howItWorksIcons'></i>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </section>
    <!-- /.wrapper -->
    <section id='noTitleCastersSection'>
        <div class="row">
            <div class="col-md-6" id='aboutStreamersSection'>
                <div class='row'>
                    <div class='col-md-4'>
                    </div>
                    <div class='col-md-6' id='casterContent'>
                        <h4 class='text-left'>WANT MORE INFORMATION?</h4>
                        <br>
                        <p class='text-left'>Schedule a call with one of our knowledgable Campaign Strategist.</p>
                        <br>
                        <br>
                        <a class="btn btn-lg btn-round-lg" id='aboutViewMoreBtn' href="https://app.hubspot.com/meetings/tross" target="_blank" role="button"
                            style='background-color: #42b6ff;'>LEARN MORE</a>
                    </div>
                    <div class='col-md-2'>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id='brandStreamersSection'>
                <div class='row'>
                    <div class='col-md-2'>
                    </div>
                    <div class='col-md-6' id='brandedContent'>
                        <h4 class='text-left'>GET STARTED AS A BRAND</h4>
                        <br>
                        <p class='text-left'> Discover the best ways to start marketing with live content.
                        </p>
                        <br>
                        <br>
                        <a class="btn btn-lg btn-round-lg" id='brandViewMoreBtn' href="https://streamfluencepartners.com/register" target="_blank">
                            GET STARTED
                        </a>
                    </div>
                    <div class='col-md-4'>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <%- include('layouts/footer'); %>
    </footer>
    <!-- SCRIPT -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script type="text/javascript " src="assets/js/app.js "></script>
    <script type="text/javascript " src="assets/js/carousel.js "></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2995043.js"></script>
    <!-- End of HubSpot Embed Code -->
</body>

</html>