#videoLayout1 {
    position: absolute;
    height: 450px;
    width: 650px;
    top: -10%;
    left: 40%;
    border: 2px solid #a023ff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

#homeBigScreen {
    height: 90vh;
}

.homeContent {
    position: relative;
    top: 30%;
    left: 15%;
    z-index: 3;
}

.homeContentText {}

#homeTitle {
    font-size: 55px;
    color: #fff;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: normal;
    width: 750px;
    font-family: 'Passion One', cursive;
}

#titleParagraph {
    font-size: 16px;
    color: #fff;
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    line-height: 28px;
    letter-spacing: 1px;
    width: 620px;
}

#brandHomeButton {
    background-color: #30b7fe;
    color: #fff;
    height: 60px;
    width: 340px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    padding: 15px;
    font-weight: 500;
    position: absolute;
    top: 120%;
    left: 13%;
}

#twitchSectionImage {
    position: absolute;
    height: 450px;
    width: 750px;
    height: auto;
    max-width: 100%;
    left: 15%;
    border: 2px solid #a023ff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    z-index: 99999;
    border-radius: 30px;
}

#brand123Container {
    height: 900px;
    margin-right: auto;
    margin-left: auto;
}

#brand123Row {
    margin: 0px;
    margin-top: 250px;
    padding: 0px;
}

.backgroundBrand123 {
    background-color: #e5efff;
    border-radius: 15px;
    height: 200px;
    margin: 0px;
    padding: 20px 0 20px 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.brand123 {
    padding: 15px;
}

.brand123 p {
    line-height: 30px;
    font-size: 18px;
    color: #a3a3a3;
}

.brand123 h3 {
    margin: 0 0 10px 0px;
    font-size: 24px;
    color: #0c6dff;
    font-weight: bolder;
    letter-spacing: 2px;
}

.brand123Trophy {
    padding: 30px 0 30px 0;
    font-size: 50px;
    color: #6a95ff;
}

#sfBrandSlant {
    position: absolute;
    height: 1800px;
    width: 2900px;
    top: 40%;
    left: -20%;
    z-index: 0;
}

#platformsLineImage {
    position: absolute;
    width: 110%;
    height: 18%;
    bottom: 14.8%;
    z-index: 0;
}

.thriveOnImages {
    height: 250px;
    width: 300px;
    height: auto;
    max-width: 100%;
    padding: 10px 10px 0 0;
    margin-top: 50px;
}

#mixerImage {
    margin-top: 90px;
}

#twitchImage {
    margin-top: 100px;
}

footer {
    bottom: -2%;
}


@media only screen and (max-width: 1720px) {
    .backgroundBrand123 {
        height: 250px;
    }
}

@media only screen and (max-width: 1630px) {
    #brand123Row {
        margin-top: 180px;
    }
}

@media only screen and (max-width: 1404px) {
    #brand123Row {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1580px) {

    #videoLayout1 {
        height: 350px;
        width: 550px;
        left: 45%;
    }
}

@media only screen and (max-width: 1441px) {


    #titleParagraph {
        font-size: 14px;
        width: 450px;
    }
}

@media only screen and (max-width: 1408px) {

    #homeTitle {
        font-size: 40px;
    }

    #titleParagraph {
        font-size: 14px
    }

    #videoLayout1 {
        left: 43%;
    }

    .homeContent {
        left: 10%;
    }
}

@media only screen and (max-width: 1285px) {

    #titleParagraph {
        width: 400px;
    }
}

@media only screen and (max-width: 1206px) {

    .homeContent {
        left: 5%;
    }

    #videoLayout1 {
        height: 350px;
        width: 450px;
        left: 49%;
    }
}

@media only screen and (max-width: 1175px) {
    .backgroundBrand123 {}

    #brand123Row {}

    .brand123 p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1087px) {
    .backgroundBrand123 {
        height: 300px;
    }

    #brand123Row {
        margin-top: 50px;
    }

    .brand123 p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1041px) {
    #platformsLineImage {
        display: none;
    }
}

@media only screen and (max-width: 1010px) {

    #homeTitle {
        font-size: 30px;
    }

    .homeContent {
        left: 1%;
    }

    .homeContentText {
        left: 10%;
    }

    #videoLayout1 {
        height: 300px;
        width: 400px;
        left: 53%;
        top: 20%;
    }

    #brandHomeButton {
        left: 0%;
    }

    #titleParagraph {
        width: 300px;
    }

    #twitchSectionImage {
        display: none;
    }

    .backgroundBrand123 {
        margin-bottom: 30px;
        height: 200px;
    }

    #brand123Container {
        height: 1200px;
    }
}

@media only screen and (max-width: 923px) {

    #homeTitle {
        font-size: 40px;
    }

    .homeContent {
        left: 13%;
    }

    #titleParagraph {
        font-size: 16px;
        width: 450px;
    }

    .homeContentText {
        left: 10%;
    }

    #brandHomeButton {
        left: 10%;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    }

    #videoLayout1 {
        display: none;
    }
}

@media only screen and (max-width: 784px) {
    .brand123Trophy {
        display: none;
    }
}


@media only screen and (max-width: 725px) {

    .homeContent {
        left: 5%;
    }

    #titleParagraph {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 618px) {

    .homeContent {
        left: 0%;
    }

    #titleParagraph {
        font-size: 14px;
        width: 400px;
    }

    #homeTitle {
        font-size: 35px;
    }
}

@media only screen and (max-width: 471px) {

    #titleParagraph {
        display: none;
    }

    #homeTitle {
        font-size: 30px;
    }

    #brandHomeButton {
        left: 0%;
        top: 180%;
    }
}

@media only screen and (max-width: 421px) {

    #homeTitle {
        font-size: 40px;
        width: 300px;
    }

    #brandHofile: ///C:/Users/Larothion/Desktop/streamfluenceMarketing/assets/images/sf_homeImage_white.pngmeButton {
    width: 250px;
    top: 150%;
}

.backgroundBrand123 {
    height: 300px;
}

#brand123Container {
    height: 1400px;
}


}

@media only screen and (max-width: 337px) {

    #titleParagraph {
        display: none;
    }

    #homeTitle {
        font-size: 30px;
        width: 200px;
    }

    #brandHomeButton {
        left: 0%;
        top: 100%;
        width: 250px;
    }
}